<div class="friends">
  <div class="title">
    <p class="p-1 fs-3">Friends</p>
    <span class="font"></span>
  </div>
  <div class="content">
    <div class="row gap-3 justify-content-center bigbox1">
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 box1 hover">
        <div class="content">
          <div class="head">
            <div class="icons">
              <div class="icon1">
                <i class="phone bi bi-telephone-fill"></i>
              </div>
              <div class="icon2">
                <i class="message bi bi-envelope"></i>
              </div>
            </div>
            <div class="box">
              <div class="image">
                <img
                  class="img-fluid"
                  src="assets/image/friend-01.jpg"
                  alt=""
                />
              </div>
              <div class="title">
                <h3>Ahmed Nasser</h3>
                <p>JavaScript Developer</p>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="text">
              <i class="bi bi-emoji-smile"></i>
              <p>99 Friend</p>
            </div>
            <div class="text">
              <i class="bi bi-code-square"></i>
              <p>15 Projects</p>
            </div>
            <div class="text">
              <i class="bi bi-clipboard-data"></i>
              <p>25 Articles</p>
            </div>
          </div>
          <hr />
          <div class="foot">
            <div class="prag">
              <p>Joined 02/10/2021</p>
            </div>
            <div class="btns">
              <p class="profile" routerLink="/profile">Profile</p>
              <p class="remove">Remove</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 box1 hover">
        <div class="content">
          <div class="head">
            <div class="icons">
              <div class="icon1">
                <i class="phone bi bi-telephone-fill"></i>
              </div>
              <div class="icon2">
                <i class="message bi bi-envelope"></i>
              </div>
            </div>
            <div class="box">
              <div class="image">
                <img
                  class="img-fluid"
                  src="assets/image/friend-02.jpg"
                  alt=""
                />
              </div>
              <div class="title">
                <h3>Omar Fathy</h3>
                <p>Cloud Developer</p>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="text">
              <i class="bi bi-emoji-smile"></i>
              <p>30 Friends</p>
            </div>
            <div class="text">
              <i class="bi bi-code-square"></i>
              <p>11 Projects</p>
            </div>
            <div class="text">
              <i class="bi bi-clipboard-data"></i>
              <p>12 Articles</p>
            </div>
          </div>
          <hr />
          <div class="foot">
            <div class="prag">
              <p>Joined 02/08/2020</p>
            </div>
            <div class="btns">
              <p class="profile" routerLink="/profile">Profile</p>
              <p class="remove">Remove</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 box1 hover">
        <div class="content">
          <div class="head">
            <div class="icons">
              <div class="icon1">
                <i class="phone bi bi-telephone-fill"></i>
              </div>
              <div class="icon2">
                <i class="message bi bi-envelope"></i>
              </div>
            </div>
            <div class="box">
              <div class="image">
                <img
                  class="img-fluid"
                  src="assets/image/friend-03.jpg"
                  alt=""
                />
              </div>
              <div class="title">
                <h3>Omar Ahmed</h3>
                <p>Mobile Developer</p>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="text">
              <i class="bi bi-emoji-smile"></i>
              <p>80 Friends</p>
            </div>
            <div class="text">
              <i class="bi bi-code-square"></i>
              <p>20 Projects</p>
            </div>
            <div class="text">
              <i class="bi bi-clipboard-data"></i>
              <p>18 Articles</p>
            </div>
          </div>
          <hr />
          <div class="foot">
            <div class="prag">
              <p>Joined 02/06/2020</p>
            </div>
            <div class="btns">
              <p class="profile" routerLink="/profile">Profile</p>
              <p class="remove">Remove</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 box1 hover">
        <div class="content">
          <div class="head">
            <div class="icons">
              <div class="icon1">
                <i class="phone bi bi-telephone-fill"></i>
              </div>
              <div class="icon2">
                <i class="message bi bi-envelope"></i>
              </div>
            </div>
            <div class="box">
              <div class="image">
                <img
                  class="img-fluid"
                  src="assets/image/friend-04.jpg"
                  alt=""
                />
              </div>
              <div class="title">
                <h3>Shady Nabil</h3>
                <p>Back-End Developer</p>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="text">
              <i class="bi bi-emoji-smile"></i>
              <p>70 Friend</p>
            </div>
            <div class="text">
              <i class="bi bi-code-square"></i>
              <p>30 Projects</p>
            </div>
            <div class="text">
              <i class="bi bi-clipboard-data"></i>
              <p>18 Articles</p>
            </div>
          </div>
          <hr />
          <div class="foot">
            <div class="prag">
              <p>Joined 28/06/2020</p>
            </div>
            <div class="btns">
              <p class="profile" routerLink="/profile">Profile</p>
              <p class="remove">Remove</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 box1 hover">
        <div class="content">
          <div class="head">
            <div class="icons">
              <div class="icon1">
                <i class="phone bi bi-telephone-fill"></i>
              </div>
              <div class="icon2">
                <i class="message bi bi-envelope"></i>
              </div>
            </div>
            <div class="box">
              <div class="image">
                <img
                  class="img-fluid"
                  src="assets/image/friend-05.jpg"
                  alt=""
                />
              </div>
              <div class="title">
                <h3>Mohamed Ibrahim</h3>
                <p>Algorithm Developer</p>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="text">
              <i class="bi bi-emoji-smile"></i>
              <p>80 Friend</p>
            </div>
            <div class="text">
              <i class="bi bi-code-square"></i>
              <p>30 Projects</p>
            </div>
            <div class="text">
              <i class="bi bi-clipboard-data"></i>
              <p>18 Articles</p>
            </div>
          </div>
          <hr />
          <div class="foot">
            <div class="prag">
              <p>Joined 28/08/2020</p>
            </div>
            <div class="btns">
              <p class="profile" routerLink="/profile">Profile</p>
              <p class="remove">Remove</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 box1 hover">
        <div class="content">
          <div class="head">
            <div class="icons">
              <div class="icon1">
                <i class="phone bi bi-telephone-fill"></i>
              </div>
              <div class="icon2">
                <i class="message bi bi-envelope"></i>
              </div>
            </div>
            <div class="box">
              <div class="image">
                <img
                  class="img-fluid"
                  src="assets/image/friend-02.jpg"
                  alt=""
                />
              </div>
              <div class="title">
                <h3>Amr Hendawy</h3>
                <p>Back-End Developer</p>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="text">
              <i class="bi bi-emoji-smile"></i>
              <p>70 Friend</p>
            </div>
            <div class="text">
              <i class="bi bi-code-square"></i>
              <p>30 Projects</p>
            </div>
            <div class="text">
              <i class="bi bi-clipboard-data"></i>
              <p>18 Articles</p>
            </div>
          </div>
          <hr />
          <div class="foot">
            <div class="prag">
              <p>Joined 28/06/2020</p>
            </div>
            <div class="btns">
              <p class="profile" routerLink="/profile">Profile</p>
              <p class="remove">Remove</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 box1 hover">
        <div class="content">
          <div class="head">
            <div class="icons">
              <div class="icon1">
                <i class="phone bi bi-telephone-fill"></i>
              </div>
              <div class="icon2">
                <i class="message bi bi-envelope"></i>
              </div>
            </div>
            <div class="box">
              <div class="image">
                <img
                  class="img-fluid"
                  src="assets/image/friend-01.jpg"
                  alt=""
                />
              </div>
              <div class="title">
                <h3>Mahmoud Adel</h3>
                <p>Cloud Developer</p>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="text">
              <i class="bi bi-emoji-smile"></i>
              <p>30 Friend</p>
            </div>
            <div class="text">
              <i class="bi bi-code-square"></i>
              <p>11 Projects</p>
            </div>
            <div class="text">
              <i class="bi bi-clipboard-data"></i>
              <p>12 Articles</p>
            </div>
          </div>
          <hr />
          <div class="foot">
            <div class="prag">
              <p>Joined 02/10/2021</p>
            </div>
            <div class="btns">
              <p class="profile" routerLink="/profile">Profile</p>
              <p class="remove">Remove</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 box1 hover">
        <div class="content">
          <div class="head">
            <div class="icons">
              <div class="icon1">
                <i class="phone bi bi-telephone-fill"></i>
              </div>
              <div class="icon2">
                <i class="message bi bi-envelope"></i>
              </div>
            </div>
            <div class="box">
              <div class="image">
                <img
                  class="img-fluid"
                  src="assets/image/friend-03.jpg"
                  alt=""
                />
              </div>
              <div class="title">
                <h3>Ahmed Abuzaid</h3>
                <p>Content Creator</p>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="text">
              <i class="bi bi-emoji-smile"></i>
              <p>99 Friend</p>
            </div>
            <div class="text">
              <i class="bi bi-code-square"></i>
              <p>15 Projects</p>
            </div>
            <div class="text">
              <i class="bi bi-clipboard-data"></i>
              <p>25 Articles</p>
            </div>
          </div>
          <hr />
          <div class="foot">
            <div class="prag">
              <p>oined 02/10/2020</p>
            </div>
            <div class="btns">
              <p class="profile" routerLink="/profile">Profile</p>
              <p class="remove">Remove</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 box1 hover">
        <div class="content">
          <div class="head">
            <div class="icons">
              <div class="icon1">
                <i class="phone bi bi-telephone-fill"></i>
              </div>
              <div class="icon2">
                <i class="message bi bi-envelope"></i>
              </div>
            </div>
            <div class="box">
              <div class="image">
                <img
                  class="img-fluid"
                  src="assets/image/friend-04.jpg"
                  alt=""
                />
              </div>
              <div class="title">
                <h3>Gareeb Elshiekh</h3>
                <p>JavaScript Developer</p>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="text">
              <i class="bi bi-emoji-smile"></i>
              <p>80 Friend</p>
            </div>
            <div class="text">
              <i class="bi bi-code-square"></i>
              <p>30 Projects</p>
            </div>
            <div class="text">
              <i class="bi bi-clipboard-data"></i>
              <p>25 Articles</p>
            </div>
          </div>
          <hr />
          <div class="foot">
            <div class="prag">
              <p>Joined 02/10/2021</p>
            </div>
            <div class="btns">
              <p class="profile" routerLink="/profile">Profile</p>
              <p class="remove">Remove</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 box1 hover">
        <div class="content">
          <div class="head">
            <div class="icons">
              <div class="icon1">
                <i class="phone bi bi-telephone-fill"></i>
              </div>
              <div class="icon2">
                <i class="message bi bi-envelope"></i>
              </div>
            </div>
            <div class="box">
              <div class="image">
                <img
                  class="img-fluid"
                  src="assets/image/friend-05.jpg"
                  alt=""
                />
              </div>
              <div class="title">
                <h3>Hamza</h3>
                <p>Front-End Developer</p>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="text">
              <i class="bi bi-emoji-smile"></i>
              <p>55 Friend</p>
            </div>
            <div class="text">
              <i class="bi bi-code-square"></i>
              <p>40 Projects</p>
            </div>
            <div class="text">
              <i class="bi bi-clipboard-data"></i>
              <p>25 Articles</p>
            </div>
          </div>
          <hr />
          <div class="foot">
            <div class="prag">
              <p>Joined 10/10/2022</p>
            </div>
            <div class="btns">
              <p class="profile" routerLink="/profile">Profile</p>
              <p class="remove">Remove</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
