<div class="dash">
  <div class="title">
    <p class="p-1 fs-3">Dash Board</p>
    <span class="font"></span>
  </div>
  <div class="content">
    <div class="row gap-3 box1 justify-content-center">
      <div class="col-lg-4 col-md-5 col-sm-12 minibox1 hover">
        <div class="minititle1 d-flex align-items-center">
          <div class="welcome">
            <h1>Welcome</h1>
            <span>Moaz</span>
          </div>
          <div class="imagewelcome">
            <img src="../../assets/image/welcome.png" alt="Welcome" />
          </div>
        </div>
        <div class="pic">
          <div class="imageavatar">
            <img src="assets/image/avatar.png" alt="" />
          </div>
          <hr />
          <div
            class="bigtext texts d-flex justify-content-space-betwen align-items-center"
          >
            <div class="text1">
              <h3>Mo3az</h3>
              <span>Developer</span>
            </div>
            <div class="text2">
              <h3>80</h3>
              <span>Projects</span>
            </div>
            <div class="text3">
              <h3>$8500</h3>
              <span>Earned</span>
            </div>
          </div>
          <hr />
          <div class="btnprofile">
            <button routerLink="/profile" type="button" class="btn btn-primary">
              Profile
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 minibox2 hover">
        <div class="minititle2">
          <h2>Quick Draft</h2>
          <p>Write A Draft For Yours Ideas</p>
        </div>
        <div class="miniform">
          <div class="row">
            <input class="title" type="text" placeholder="Title" />
            <textarea
              class="ideas"
              type="text"
              placeholder="Your Thought"
            ></textarea>
          </div>
          <div class="btnprofile">
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 minibox3 hover">
        <div class="minititle3">
          <h2>Yearly Targets</h2>
          <p>Targets Of The Year</p>
        </div>
        <div class="row">
          <div class="bigtext">
            <div
              class="iconbox1 text-center d-flex align-items-center m-2 flex-column flex-xxl-row flex-xl-row flex-lg-row"
            >
              <div class="icon1">
                <i class="bi bi-currency-dollar"></i>
              </div>
              <div class="minicontent1">
                <p>Money</p>
                <h3>$20.000</h3>
                <div class="span1">
                  <mat-progress-bar
                    class="progress1"
                    mode="determinate"
                    value="80"
                    color="warn"
                  ></mat-progress-bar>
                </div>
              </div>
            </div>
            <div
              class="iconbox2 text-center d-flex align-items-center m-2 flex-column flex-xxl-row flex-xl-row flex-lg-row"
            >
              <div class="icon2">
                <i class="bi bi-code-slash"></i>
              </div>
              <div class="minicontent2">
                <p>Projects</p>
                <h3>24</h3>
                <div class="span2">
                  <mat-progress-bar
                    class="progress2"
                    mode="determinate"
                    value="55"
                    color="accent"
                  ></mat-progress-bar>
                </div>
              </div>
            </div>
            <div
              class="iconbox3 text-center d-flex align-items-center m-2 flex-column flex-xxl-row flex-xl-row flex-lg-row"
            >
              <div class="icon3">
                <i class="bi bi-person"></i>
              </div>
              <div class="minicontent3">
                <p>Team</p>
                <h3>12</h3>
                <div class="span3">
                  <mat-progress-bar
                    class="progress3"
                    mode="determinate"
                    value="75"
                  ></mat-progress-bar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gap-3 box2 justify-content-center">
      <div class="col-lg-4 col-md-5 col-sm-12 xsbox1 hover">
        <div class="xstitle1">
          <h2>Tickets Statistics</h2>
          <p>Everything About Support Tickets</p>
        </div>
        <div class="row linebox1 justify-content-center">
          <div
            class="box1 flex-column flex-xxl-row flex-xl-row flex-lg-row justify-content-center"
          >
            <div class="col-lg-5 boxtext1 justify-content-center">
              <i class="bi bi-card-list"></i>
              <h2>2500</h2>
              <p>Total</p>
            </div>
            <div class="col-lg-5 boxtext2 justify-content-center">
              <i class="bi bi-arrow-clockwise"></i>
              <h2>500</h2>
              <p>Pending</p>
            </div>
          </div>
          <div
            class="box2 flex-column flex-xxl-row flex-xl-row flex-lg-row justify-content-center"
          >
            <div class="col-lg-6 boxtext3 justify-content-center">
              <i class="bi bi-check-circle"></i>
              <h2>1900</h2>
              <p>Closed</p>
            </div>
            <div class="col-lg-6 boxtext4 justify-content-center">
              <i class="bi bi-x-square"></i>
              <h2>100</h2>
              <p>Deleted</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 xsbox2 hover">
        <div class="xstitle2">
          <h2>Latest News</h2>
        </div>
        <div class="content1 flex-column flex-xxl-row flex-xl-row flex-lg-row">
          <div class="image">
            <img src="assets/image/news-01.png" alt="" />
          </div>
          <div class="text">
            <h3>Created Sass Section</h3>
            <p>Nes Sass Exampels & Tutorials</p>
          </div>
          <div class="minitext">
            <span>3 Days Ago</span>
          </div>
        </div>
        <div class="content1 flex-column flex-xxl-row flex-xl-row flex-lg-row">
          <div class="image">
            <img src="assets/image/news-02.png" alt="" />
          </div>
          <div class="text">
            <h3>Changed The Design</h3>
            <p>A Brand New Website Design</p>
          </div>
          <div class="minitext">
            <span>5 Days Ago</span>
          </div>
        </div>
        <div class="content1 flex-column flex-xxl-row flex-xl-row flex-lg-row">
          <div class="image">
            <img src="assets/image/news-03.png" alt="" />
          </div>
          <div class="text">
            <h3>Team Increased</h3>
            <p>3 Developers Joined The Team</p>
          </div>
          <div class="minitext">
            <span>7 Days Ago</span>
          </div>
        </div>
        <div class="content1 flex-column flex-xxl-row flex-xl-row flex-lg-row">
          <div class="image">
            <img src="assets/image/news-04.png" alt="" />
          </div>
          <div class="text">
            <h3>Added Payment Gateway</h3>
            <p>Many New Payment Gateway Added</p>
          </div>
          <div class="minitext">
            <span>9 Days Ago</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 xsbox3 hover">
        <div class="xstitle3">
          <h2>Latest Tasks</h2>
        </div>
        <div class="content">
          <div class="text">
            <h3>Record One New Video</h3>
            <p>Record Phython Create Exe Project</p>
          </div>
          <div class="minitext">
            <span><i class="bi bi-trash"></i></span>
          </div>
        </div>
        <div class="content">
          <div class="text">
            <h3>Changed The Design</h3>
            <p>A Brand New Website Design</p>
          </div>
          <div class="minitext">
            <span><i class="bi bi-trash"></i></span>
          </div>
        </div>
        <div class="content">
          <div class="text">
            <h3>Team Increased</h3>
            <p>3 Developers Joined The Team</p>
          </div>
          <div class="minitext">
            <span><i class="bi bi-trash"></i></span>
          </div>
        </div>
        <div class="content0">
          <div class="text">
            <h3>Added Payment Gateway</h3>
            <p>Many New Payment Gateway Added</p>
          </div>
          <div class="minitext">
            <span><i class="bi bi-trash"></i></span>
          </div>
        </div>
        <div class="content">
          <div class="text">
            <h3>Added Payment Gateway</h3>
            <p>Many New Payment Gateway Added</p>
          </div>
          <div class="minitext">
            <span><i class="bi bi-trash"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row gap-3 box3 justify-content-center">
      <div class="col-lg-4 col-md-5 col-sm-12 box1 hover">
        <div class="title1">
          <h2>Top Search Iteam</h2>
        </div>
        <div class="content0">
          <div class="text">
            <h3>Keyword</h3>
          </div>
          <div class="minitext">
            <span>Search Count</span>
          </div>
        </div>
        <div class="content">
          <div class="text">
            <h3>Programming</h3>
          </div>
          <div class="minitext">
            <span>220</span>
          </div>
        </div>
        <div class="content">
          <div class="text">
            <h3>Java Script</h3>
          </div>
          <div class="minitext">
            <span>180</span>
          </div>
        </div>
        <div class="content">
          <div class="text">
            <h3>PHP</h3>
          </div>
          <div class="minitext">
            <span>160</span>
          </div>
        </div>
        <div class="content">
          <div class="text">
            <h3>Code</h3>
          </div>
          <div class="minitext">
            <span>160</span>
          </div>
        </div>
        <div class="content">
          <div class="text">
            <h3>Design</h3>
          </div>
          <div class="minitext">
            <span>145</span>
          </div>
        </div>
        <div class="content">
          <div class="text">
            <h3>Logic</h3>
          </div>
          <div class="minitext">
            <span>95</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 box2 hover">
        <div class="title2">
          <h2>Latest Uploads</h2>
        </div>
        <div class="content1">
          <div class="image">
            <img src="assets/image/pdf.svg" alt="" />
            <div class="text">
              <h3>My-File-Pdf</h3>
              <p>Mo3az</p>
            </div>
          </div>
          <div class="minitext">
            <span>2.9mb</span>
          </div>
        </div>
        <div class="content1">
          <div class="image">
            <img src="assets/image/avi.svg" alt="" />
            <div class="text">
              <h3>My-Video-File.avi</h3>
              <p>Admin</p>
            </div>
          </div>
          <div class="minitext">
            <span>4.9mb</span>
          </div>
        </div>
        <div class="content1">
          <div class="image">
            <img src="assets/image/psd.svg" alt="" />
            <div class="text">
              <h3>My-Psd-File.pdf</h3>
              <p>Mohamed</p>
            </div>
          </div>
          <div class="minitext">
            <span>4.5mb</span>
          </div>
        </div>
        <div class="content1">
          <div class="image">
            <img src="assets/image/zip.svg" alt="" />
            <div class="text">
              <h3>My-Zip-File/pdf</h3>
              <p>User</p>
            </div>
          </div>
          <div class="minitext">
            <span>8.9mb</span>
          </div>
        </div>
        <div class="content1">
          <div class="image">
            <img src="assets/image/dll.svg" alt="" />
            <div class="text">
              <h3>My-Dll-File/pdf</h3>
              <p>Admin</p>
            </div>
          </div>
          <div class="minitext">
            <span>4.9mb</span>
          </div>
        </div>
        <div class="content1">
          <div class="image">
            <img src="assets/image/eps.svg" alt="" />

            <div class="text">
              <h3>My-Eps-File/pdf</h3>
              <p>Designer</p>
            </div>
          </div>
          <div class="minitext">
            <span>8.9mb</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 box3 hover">
        <div class="title3">
          <h2>Last Project Progress</h2>
        </div>
        <!-- <div class="bigcontent">
          <div class="bigspan">
            <span class="active"><i class="bi bi-circle-fill"></i></span>
            <span class="active"><i class="bi bi-circle-fill"></i></span>
            <span class="hover"><i class="bi bi-circle-fill"></i></span>
            <span><i class="bi bi-circle"></i></span>
          </div>
          <div class="bigtext"></div>
        </div> -->
        <div class="content">
          <div class="text">
            <span class="active"><i class="bi bi-circle-fill"></i></span>
            <h3 class="active">Got The Project</h3>
          </div>
          <div class="text">
            <span class="active"><i class="bi bi-circle-fill"></i></span>
            <h3 class="active">Started The Project</h3>
          </div>
          <div class="text">
            <span class="active"><i class="bi bi-circle-fill"></i></span>
            <h3 class="active">The Project About To Finish</h3>
          </div>
          <div class="text">
            <span class="active"><i class="bi bi-circle-fill"></i></span>
            <h3 class="active">Test The Project</h3>
          </div>
          <div class="text">
            <span><i class="bi bi-circle"></i></span>
            <h3>Finish The Project & Get Money</h3>
          </div>
        </div>
        <div class="image">
          <img src="assets/image/project.png" alt="" />
        </div>
      </div>
    </div>
    <div class="row gap-3 box4 justify-content-center">
      <div class="col-lg-4 col-md-5 col-sm-12 box1 hover">
        <div class="title1">
          <h2>Reminders</h2>
        </div>
        <div class="minibox1">
          <div class="span1">
            <span><i class="bi bi-circle-fill"></i></span>
          </div>
          <div class="text">
            <h3>Check My Tasks List</h3>
            <p>28/9/2022-12:00Am</p>
          </div>
        </div>
        <div class="minibox1">
          <div class="span2">
            <span><i class="bi bi-circle-fill"></i></span>
          </div>
          <div class="text">
            <h3>Check My Projects</h3>
            <p>26/10/2022-12:00Am</p>
          </div>
        </div>
        <div class="minibox1">
          <div class="span3">
            <span><i class="bi bi-circle-fill"></i></span>
          </div>
          <div class="text">
            <h3>Call All My Clients</h3>
            <p>5/11/2022-12:00Am</p>
          </div>
        </div>
        <div class="minibox1">
          <div class="span4">
            <span><i class="bi bi-circle-fill"></i></span>
          </div>
          <div class="text">
            <h3>Finish The Development Workshop</h3>
            <p>20/12/2022-12:00Am</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 box2 hover">
        <div class="title2">
          <h2>Latest Post</h2>
        </div>
        <div class="bigcontent">
          <div class="smbox1">
            <div class="image">
              <img src="assets/image/avatar.png" alt="" />
            </div>
            <div class="text">
              <h3>Mo3az Mohamed</h3>
              <p>About 3 Hour Ago</p>
            </div>
          </div>
          <hr />
          <div class="prag">
            <p>
              You Can Fool All Of The People Some Of The Time,And Some Of The
              People All Of The Time,But You Con't Fool All Of The People All Of
              The Time.
            </p>
          </div>
          <hr />
          <div class="icons">
            <div class="icon1"><i class="bi bi-heart"></i> 1.8K</div>
            <div class="icon2"><i class="bi bi-chat"></i> 500</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 box3 hover">
        <div class="title3">
          <h2>Social Media Stats</h2>
        </div>
        <div class="content">
          <div class="twitter">
            <div class="icontwit">
              <i class="bi bi-twitter"></i>
            </div>
            <p>90K Followers</p>
            <div class="btntwit">
              <button type="button" class="btn btn-primary">Follow</button>
            </div>
          </div>
          <div class="facebook">
            <div class="iconface">
              <i class="bi bi-facebook"></i>
            </div>
            <p>2M like</p>
            <div class="btnface">
              <button type="button" class="btn btn-primary">Like</button>
            </div>
          </div>
          <div class="youtube">
            <div class="iconyout">
              <i class="bi bi-youtube"></i>
            </div>
            <p>1M Subs</p>
            <div class="btnyout">
              <button type="button" class="btn btn-danger">Subscribe</button>
            </div>
          </div>
          <div class="linkedin">
            <div class="iconlinked">
              <i class="bi bi-linkedin"></i>
            </div>
            <p>70K Followers</p>
            <div class="btnlinked">
              <button type="button" class="btn btn-primary">Like</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row box5">
      <div class="col-md-12 col-sm-12 hover">
        <app-table></app-table>
      </div>
    </div>
  </div>
</div>
