<div class="container">
  <div class="sidebar">
    <div
      class="title d-flex justify-content-center align-items-center flex-column"
    >
      <p class="fs-4 pt-4">MOAZ</p>
      <span></span>
    </div>
    <div class="content d-flex justify-content-center align-items-center">
      <ul class="p-1">
        <div class="div">
          <li routerLink="dash-board" routerLinkActive="active">
            <a><i class="bi bi-graph-up-arrow"></i>DashBoard </a>
          </li>
        </div>
        <div class="div">
          <li routerLink="settings" routerLinkActive="active">
            <a><i class="bi bi-gear-fill"></i>Settings </a>
          </li>
        </div>
        <div class="div">
          <li routerLink="profile" routerLinkActive="active">
            <a><i class="bi bi-person"></i>Profile</a>
          </li>
        </div>
        <div class="div">
          <li routerLink="projects" routerLinkActive="active">
            <a><i class="bi bi-boxes"></i>Projects</a>
          </li>
        </div>
        <div class="div">
          <li routerLink="courses" routerLinkActive="active">
            <a><i class="bi bi-mortarboard-fill"></i>Courses</a>
          </li>
        </div>
        <div class="div">
          <li routerLink="friends" routerLinkActive="active">
            <a><i class="bi bi-person-circle"></i>Friends</a>
          </li>
        </div>
        <div class="div">
          <li routerLink="files" routerLinkActive="active">
            <a><i class="bi bi-file-earmark"></i>Files</a>
          </li>
        </div>
        <div class="div">
          <li routerLink="plans" routerLinkActive="active">
            <a><i class="bi bi-map-fill"></i>Plans</a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
