<div class="profile">
  <div class="title">
    <p class="p-1 fs-3">Profile</p>
    <span class="font"></span>
  </div>
  <div class="content">
    <div
      class="row hover box11 gap-1 flex-lg-nowrap justify-content-md-between justify-content-sm-center justify-content-lg-center"
    >
      <div class="col-lg-3 col-md-3 col-sm-3 smbox">
        <div class="container">
          <img src="assets/image/avatar.png" alt="" />
          <h2>Mo3az Mohamed</h2>
          <p>Level 20</p>
          <div class="row">
            <mat-progress-bar
              mode="determinate"
              color="warn"
              value="75"
              class="progress"
            ></mat-progress-bar>
          </div>
          <div class="btns">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <span>550 Rating</span>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 ms-lg-5 bigbox hover">
        <div class="box1">
          <div class="title">
            <h3>General Information</h3>
          </div>
          <div class="text d-flex flex-column flex-lg-row flex-md-row">
            <div class="sec1">
              <p>Full Name: <span>Moaz Mohamed</span></p>
            </div>
            <div class="sec2">
              <p>Gender: <span>Male</span></p>
            </div>
            <div class="sec3">
              <p>Country: <span>Egypt</span></p>
            </div>
            <div class="btn">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                />
                <label
                  class="form-check-label"
                  for="flexSwitchCheckDefault"
                ></label>
              </div>
            </div>
          </div>
        </div>
        <div class="box2">
          <div class="title">
            <h3>Personal Information</h3>
          </div>
          <div class="text d-flex flex-column flex-lg-row flex-md-row">
            <div class="sec1">
              <p>Email: <span>o@nn.sa</span></p>
            </div>
            <div class="sec2">
              <p>Phone: <span>019123456789</span></p>
            </div>
            <div class="sec3">
              <p>Date Of Birth: <span>25/10/1982</span></p>
            </div>
            <div class="btn">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                />
                <label
                  class="form-check-label"
                  for="flexSwitchCheckDefault"
                ></label>
              </div>
            </div>
          </div>
        </div>
        <div class="box3">
          <div class="title">
            <h3>Job Information</h3>
          </div>
          <div class="text d-flex flex-column flex-lg-row flex-md-row">
            <div class="sec1">
              <p>Title: <span>Full Stack Developer</span></p>
            </div>
            <div class="sec2">
              <p>Programming Language: <span>Python</span></p>
            </div>
            <div class="sec3">
              <p>Years Of Experience: <span>15+</span></p>
            </div>
            <div class="btn">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                />
                <label
                  class="form-check-label"
                  for="flexSwitchCheckDefault"
                ></label>
              </div>
            </div>
          </div>
        </div>
        <div class="box4">
          <div class="title">
            <h3>Billing Information</h3>
          </div>
          <div class="text d-flex flex-column flex-lg-row flex-md-row">
            <div class="sec1">
              <p>Payment Method: <span>Paypal</span></p>
            </div>
            <div class="sec2">
              <p>Email: <span>email@website.com</span></p>
            </div>
            <div class="sec3">
              <p>Subscription: <span>Monthly</span></p>
            </div>
            <div class="btn">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                />
                <label
                  class="form-check-label"
                  for="flexSwitchCheckDefault"
                ></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row flex-lg-nowrap flex-md-nowrap gap-2 bigbox2 justify-content-center"
    >
      <div class="col-lg-4 col-md-4 col-sm-12 box12 hover">
        <div class="container">
          <div class="title">
            <h2>My Skills</h2>
            <p>Complete Skills List</p>
          </div>
          <div class="text">
            <p>Html</p>
            <p>Pugjs</p>
            <p>HAML</p>
          </div>
          <hr />
          <div class="text">
            <p>CSS</p>
            <p>Sass</p>
            <p>Stylus</p>
          </div>
          <hr />
          <div class="text">
            <p>JavaScript</p>
            <p>TypeScript</p>
          </div>
          <hr />
          <div class="text">
            <p>Vuejs</p>
            <p>Reactjs</p>
          </div>
          <hr />
          <div class="text">
            <p>Jest</p>
            <p>Jasmine</p>
          </div>
          <hr />
          <div class="text">
            <p>PHP</p>
            <p>Laravel</p>
          </div>
          <hr />
          <div class="text">
            <p>Python</p>
            <p>Django</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 box13 hover">
        <div class="container">
          <div class="title">
            <h2>Latest Activities</h2>
            <p>Latest Activities Done By The User</p>
          </div>
          <div class="box d-flex flex-column flex-lg-row flex-md-row">
            <div class="text1 d-flex flex-column flex-lg-row flex-md-row">
              <img
                class="me-lg-3 me-md-3 me-0"
                src="assets/image/activity-01.png"
                alt=""
              />
              <div class="prag text-center text-lg-start text-md-start">
                <h3>Store</h3>
                <p>Bought The Mastering Python Course</p>
              </div>
            </div>
            <div class="text2 d-flex flex-column">
              <span>18:10</span>
              <p>Yesterday</p>
            </div>
          </div>
          <div class="box d-flex flex-column flex-lg-row flex-md-row">
            <div class="text1 d-flex flex-column flex-lg-row flex-md-row">
              <img
                class="me-lg-3 me-md-3 me-0"
                src="assets/image/activity-02.png"
                alt=""
              />
              <div class="prag text-center text-lg-start text-md-start">
                <h3>Academy</h3>
                <p>Got The PHP Certificate</p>
              </div>
            </div>
            <div class="text2 d-flex flex-column">
              <span>16:05</span>
              <p>Yesterday</p>
            </div>
          </div>
          <div class="box d-flex flex-column flex-lg-row flex-md-row">
            <div class="text1 d-flex flex-column flex-lg-row flex-md-row">
              <img
                class="me-lg-3 me-md-3 me-0"
                src="assets/image/activity-03.png"
                alt=""
              />
              <div class="prag text-center text-lg-start text-md-start">
                <h3>Badges</h3>
                <p>Unlocked The 10 Skills Badge</p>
              </div>
            </div>
            <div class="text2 d-flex flex-column">
              <span>18:05</span>
              <p>Yesterday</p>
            </div>
          </div>
          <div class="box0 d-flex flex-column flex-lg-row flex-md-row">
            <div class="text1 d-flex flex-column flex-lg-row flex-md-row">
              <img
                class="me-lg-3 me-md-3 me-0"
                src="assets/image/activity-01.png"
                alt=""
              />
              <div class="prag text-center text-lg-start text-md-start">
                <h3>Store</h3>
                <p>Bought The Typescript Course</p>
              </div>
            </div>
            <div class="text2 d-flex flex-column">
              <span>12:05</span>
              <p>Yesterday</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
