<div class="files">
  <div class="title">
    <p class="p-1 fs-3">Files</p>
    <span class="font"></span>
  </div>
  <div class="content">
    <div class="row flex-column-reverse flex-lg-row flex-md-row">
      <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9 col-sm-12 bigbox">
        <div class="row gap-3 justify-content-center">
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/pdf.svg" alt="" />
                <p>my-file.pdf</p>
              </div>
              <p>Elzero</p>
            </div>
            <hr />
            <div class="foot">
              <p>20/06/2020</p>
              <p>5.5MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/avi.svg" alt="" />
                <p>my-file.avi</p>
              </div>
              <p>Admin</p>
            </div>
            <hr />
            <div class="foot">
              <p>16/5/2021</p>
              <p>12.5MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/eps.svg" alt="" />
                <p>Uploader</p>
              </div>
              <p>Elzero</p>
            </div>
            <hr />
            <div class="foot">
              <p>20/06/2020</p>
              <p>2.7MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/psd.svg" alt="" />
                <p>my-file.psd</p>
              </div>
              <p>Osama</p>
            </div>
            <hr />
            <div class="foot">
              <p>16/5/2021</p>
              <p>15.1MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/dll.svg" alt="" />
                <p>my-file.dll</p>
              </div>
              <p>Coder</p>
            </div>
            <hr />
            <div class="foot">
              <p>20/06/2020</p>
              <p>2.2MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/png.svg" alt="" />
                <p>my-file.png</p>
              </div>
              <p>Designer</p>
            </div>
            <hr />
            <div class="foot">
              <p>16/5/2021</p>
              <p>1.1MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/pdf.svg" alt="" />
                <p>my-file.pdf</p>
              </div>
              <p>Elzero</p>
            </div>
            <hr />
            <div class="foot">
              <p>20/06/2020</p>
              <p>5.5MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/avi.svg" alt="" />
                <p>my-file.avi</p>
              </div>
              <p>Admin</p>
            </div>
            <hr />
            <div class="foot">
              <p>16/5/2021</p>
              <p>12.5MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/eps.svg" alt="" />
                <p>Uploader</p>
              </div>
              <p>Elzero</p>
            </div>
            <hr />
            <div class="foot">
              <p>20/06/2020</p>
              <p>2.7MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/psd.svg" alt="" />
                <p>my-file.psd</p>
              </div>
              <p>Osama</p>
            </div>
            <hr />
            <div class="foot">
              <p>16/5/2021</p>
              <p>15.1MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/dll.svg" alt="" />
                <p>my-file.dll</p>
              </div>
              <p>Coder</p>
            </div>
            <hr />
            <div class="foot">
              <p>20/06/2020</p>
              <p>2.2MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/png.svg" alt="" />
                <p>my-file.png</p>
              </div>
              <p>Designer</p>
            </div>
            <hr />
            <div class="foot">
              <p>16/5/2021</p>
              <p>1.1MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/pdf.svg" alt="" />
                <p>my-file.pdf</p>
              </div>
              <p>Elzero</p>
            </div>
            <hr />
            <div class="foot">
              <p>20/06/2020</p>
              <p>5.5MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/avi.svg" alt="" />
                <p>my-file.avi</p>
              </div>
              <p>Admin</p>
            </div>
            <hr />
            <div class="foot">
              <p>16/5/2021</p>
              <p>12.5MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/eps.svg" alt="" />
                <p>Uploader</p>
              </div>
              <p>Elzero</p>
            </div>
            <hr />
            <div class="foot">
              <p>20/06/2020</p>
              <p>2.7MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/psd.svg" alt="" />
                <p>my-file.psd</p>
              </div>
              <p>Osama</p>
            </div>
            <hr />
            <div class="foot">
              <p>16/5/2021</p>
              <p>15.1MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/dll.svg" alt="" />
                <p>my-file.dll</p>
              </div>
              <p>Coder</p>
            </div>
            <hr />
            <div class="foot">
              <p>20/06/2020</p>
              <p>2.2MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/png.svg" alt="" />
                <p>my-file.png</p>
              </div>
              <p>Designer</p>
            </div>
            <hr />
            <div class="foot">
              <p>16/5/2021</p>
              <p>1.1MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/pdf.svg" alt="" />
                <p>my-file.pdf</p>
              </div>
              <p>Elzero</p>
            </div>
            <hr />
            <div class="foot">
              <p>20/06/2020</p>
              <p>5.5MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/avi.svg" alt="" />
                <p>my-file.avi</p>
              </div>
              <p>Admin</p>
            </div>
            <hr />
            <div class="foot">
              <p>16/5/2021</p>
              <p>12.5MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/eps.svg" alt="" />
                <p>Uploader</p>
              </div>
              <p>Elzero</p>
            </div>
            <hr />
            <div class="foot">
              <p>20/06/2020</p>
              <p>2.7MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/psd.svg" alt="" />
                <p>my-file.psd</p>
              </div>
              <p>Osama</p>
            </div>
            <hr />
            <div class="foot">
              <p>16/5/2021</p>
              <p>15.1MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/dll.svg" alt="" />
                <p>my-file.dll</p>
              </div>
              <p>Coder</p>
            </div>
            <hr />
            <div class="foot">
              <p>20/06/2020</p>
              <p>2.2MB</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 boxfile hover">
            <div class="head">
              <i class="bi bi-download"></i>
            </div>
            <div class="body">
              <div class="image">
                <img class="img-fluid" src="assets/image/png.svg" alt="" />
                <p>my-file.png</p>
              </div>
              <p>Designer</p>
            </div>
            <hr />
            <div class="foot">
              <p>16/5/2021</p>
              <p>1.1MB</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-12 smbox hover">
        <div class="content">
          <div class="head">
            <h2>Files Statistics</h2>
          </div>
          <div class="body">
            <div class="box1 flex-column flex-lg-row">
              <div class="content flex-column flex-lg-row">
                <div class="icon">
                  <i class="bi bi-filetype-pdf"></i>
                </div>
                <div class="title">
                  <h4>PDF Files</h4>
                  <p>130 Files</p>
                </div>
              </div>
              <p>6.5GB</p>
            </div>
            <div class="box2 flex-column flex-lg-row">
              <div class="content flex-column flex-lg-row">
                <div class="icon">
                  <i class="bi bi-images"></i>
                </div>
                <div class="title">
                  <h4>Images</h4>
                  <p>115 Files</p>
                </div>
              </div>
              <p>3.5GB</p>
            </div>
            <div class="box3 flex-column flex-lg-row">
              <div class="content flex-column flex-lg-row">
                <div class="icon">
                  <i class="bi bi-file-earmark-word"></i>
                </div>
                <div class="title">
                  <h4>Word Files</h4>
                  <p>110 Files</p>
                </div>
              </div>
              <p>3.2GB</p>
            </div>
            <div class="box4 flex-column flex-lg-row">
              <div class="content flex-column flex-lg-row">
                <div class="icon">
                  <i class="bi bi-filetype-csv"></i>
                </div>
                <div class="title">
                  <h4>CSV Files</h4>
                  <p>99 Files</p>
                </div>
              </div>
              <p>2.9GB</p>
            </div>
          </div>
          <div class="foot">
            <button type="button" class="btn btn-primary">
              <i class="bi bi-chevron-double-up"></i>Upload
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
