<div class="plans">
  <div class="title">
    <p class="p-1 fs-3">Plans</p>
    <span class="font"></span>
  </div>
  <div class="content">
    <div class="row gap-3 justify-content-center">
      <div class="col-lg-5 col-md-5 col-sm-12 free hover">
        <div class="head">
          <div class="content">
            <h2>Free</h2>
            <div class="price">
              <p><i class="bi bi-currency-dollar"></i>0.00</p>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>Access All Text Lessons</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>Access All Videos Lessons</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>Appear On Leaderboard</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="false">
              <i class="bi bi-x"></i>
              <p>Browse Content Without Ads</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="false">
              <i class="bi bi-x"></i>
              <p>Access All Assignments</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="false">
              <i class="bi bi-x"></i>
              <p>Get Daily Prizes</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="false">
              <i class="bi bi-x"></i>
              <p>Earn Certificate</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="false">
              <i class="bi bi-x"></i>
              <p>1 GB Space For Hosting Files</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="false">
              <i class="bi bi-x"></i>
              <p>Access Badge System</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
        </div>
        <div class="foot">
          <button type="button" class="btn btn-success">Join</button>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 basic hover">
        <div class="head">
          <div class="content">
            <h2>Basic</h2>
            <div class="price">
              <p><i class="bi bi-currency-dollar"></i>7.99</p>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>Access All Text Lessons</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>Access All Videos Lessons</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>Appear On Leaderboard</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>Browse Content Without Ads</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>Access All Assignments</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>Get Daily Prizes</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>Earn Certificate</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="false">
              <i class="bi bi-x"></i>
              <p>1 GB Space For Hosting Files</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="false">
              <i class="bi bi-x"></i>
              <p>Access Badge System</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
        </div>
        <div class="foot">
          <button type="button" class="btn btn-success">Join</button>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 premium hover">
        <div class="head">
          <div class="content">
            <h2>Free</h2>
            <div class="price">
              <p><i class="bi bi-currency-dollar"></i>0.00</p>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>Access All Text Lessons</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>Access All Videos Lessons</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>Appear On Leaderboard</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>Browse Content Without Ads</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>Access All Assignments</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>Get Daily Prizes</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>Earn Certificate</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>1 GB Space For Hosting Files</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
          <div class="text">
            <div class="true">
              <i class="bi bi-check"></i>
              <p>Access Badge System</p>
            </div>
            <div class="icon">
              <i class="bi bi-info-circle-fill"></i>
            </div>
          </div>
          <hr />
        </div>
        <div class="foot">
          <p>This Is Your Current Plan</p>
        </div>
      </div>
    </div>
  </div>
</div>
