<div class="settings">
  <div class="title">
    <p class="p-1 fs-3">Settings</p>
    <span class="font"></span>
  </div>
  <div class="content">
    <div class="row gap-3 bigbox1 justify-content-center">
      <div class="col-lg-4 col-md-5 col-sm-12 box1 hover">
        <div class="bigtitle">
          <h2>Site Control</h2>
          <p>Control The Website If There Is Maintenance</p>
        </div>
        <div class="bigtext">
          <div class="minitext">
            <h3>Website Control</h3>
            <p>Open/Close Website And Type The Reason</p>
          </div>
          <div class="btn">
            <mat-slide-toggle color="warn" class="btntoggle"></mat-slide-toggle>
          </div>
        </div>
        <div class="row">
          <div class="textarea">
            <textarea
              class="ideas"
              type="text"
              placeholder="Close Massege Content"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 box2 hover">
        <div class="bigtitle">
          <h2>General Info</h2>
          <p>General Information About Your Account</p>
        </div>
        <div class="form">
          <div class="firstname">
            <h3>First Name</h3>
            <input type="text" placeholder="First Name" />
          </div>
          <div class="lastname">
            <h3>Last Name</h3>
            <input type="text" placeholder="Last Name" />
          </div>
          <h3>Email</h3>

          <div class="email">
            <div class="input">
              <input type="email" placeholder="o@gmail.com" />
            </div>
            <div class="btn">
              <button type="button" class="btn btn-outline-primary">
                Change
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 box3 hover">
        <div class="bigtitle">
          <h2>Security Info</h2>
          <p>Security Information About Your Account</p>
        </div>
        <div class="text1">
          <div class="minitext1">
            <h3>Password</h3>
            <p>Last Change On 25/10/2021</p>
          </div>
          <div class="btn">
            <button type="button" class="btn btn-primary">Change</button>
          </div>
        </div>
        <hr />
        <div class="text2">
          <div class="minitext2">
            <h3>Two-Factor Authentication</h3>
            <p>Enable/Disable The Feature</p>
          </div>
          <div class="btn">
            <mat-slide-toggle color="warn" class="btntoggle"></mat-slide-toggle>
          </div>
        </div>
        <hr />
        <div class="text3">
          <div class="minitext3">
            <h3>Devices</h3>
            <p>Check The Login Devices List</p>
          </div>
          <div class="btn">
            <button type="button" class="btn btn-light">Devices</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row gap-3 bigbox2 justify-content-center">
      <div class="col-lg-4 col-md-5 col-sm-12 box1 hover">
        <div class="bigtitle">
          <h2>Social Info</h2>
          <p>Social Media Information</p>
        </div>
        <div class="twitter">
          <i class="bi bi-twitter"></i>
          <input type="text" placeholder="Twitter Username" />
        </div>
        <div class="facebook">
          <i class="bi bi-facebook"></i>
          <input type="text" placeholder="Facebook Username" />
        </div>
        <div class="linkedin">
          <i class="bi bi-linkedin"></i>
          <input type="text" placeholder="Linkedin Username" />
        </div>
        <div class="youtube">
          <i class="bi bi-youtube"></i>
          <input type="text" placeholder="Youtube Username" />
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 box2 hover">
        <div class="bigtitle">
          <h2>Widgets Control</h2>
          <p>Show/Hide Widgets</p>
        </div>
        <div class="checkbox">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked">
              Quick Draft
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked">
              Yearly Targets
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked">
              Tickets Statistics
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked">
              Latest News
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked">
              Latest Tasks
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked">
              Top Search Items
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 box3 hover">
        <div class="bigtitle">
          <h2>Backup Manager</h2>
          <p>Control Backup Time And Location</p>
        </div>
        <div class="check">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1"> Daily </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Weekly
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Default radio
            </label>
          </div>
        </div>
        <hr />
        <div class="bigbtn">
          <div class="row">
            <button type="button" class="btn btn-outline-secondary">
              <i class="bi bi-hdd-stack-fill"></i>
              <p>Megaman</p>
            </button>
          </div>
          <div class="row">
            <button type="button" class="btn btn-outline-secondary">
              <i class="bi bi-hdd-stack-fill"></i>
              <p>Zero</p>
            </button>
          </div>
          <div class="row">
            <button type="button" class="btn btn-outline-secondary">
              <i class="bi bi-hdd-stack-fill"></i>
              <p>Sigma</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
